<h1>Enter a phrase to turn it into a word puzzle</h1>
<form action="/puzzle">
  <div class="form-group">
    <label for="inputSentence">Enter a phrase:</label>
    <input type="text" name="inputSentence" id="inputSentence">
    <button type="submit" class "btn btn-primary">Submit</button>
  </div>
</form>
